.badge {
  background-color:rgb(255, 255, 0 ,0.7);
  width: 30px;
  height:20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:green;
  font-weight: 600;
}